@model MvcApplication2.Models.User
@{
    ViewBag.Title = "loginForm";
}
@{
    Layout = null;
    Layout = "~/Views/Shared/loginLayout.cshtml";
}

<div class="pen-title">
    <h1>Material Login Form</h1><span>Pen <i class='fa fa-code'></i> by <a href='http://andytran.me'>Andy Tran</a></span>
</div>
<div class="rerun"><a href="">Rerun Pen</a></div>
<div class="container">
    <div class="card"></div>
    <div class="card">
        <h1 class="title">Login</h1>
        <form action="~/Home/login_method">
            <div class="input-container">
                <input type="text" id="Username" required="required" name="username" />
                @Html.ValidationMessageFor(model=>model.username)
                <label for="Username">Username</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="password" id="Password" name="pwd" required="required" />
                @Html.ValidationMessageFor(model => model.pwd)
                <label for="Password">Password</label>
                <div class="bar"></div>
            </div>
            <div class="button-container">
                <button><span>Go</span></button>
            </div>
            <div class="footer"><a href="#">Forgot your password?</a></div>
        </form>
    </div>
    <div class="card alt">
        <div class="toggle"></div>
        <h1 class="title">
            Register
            <div class="close"></div>
        </h1>
        <form action="/Home/SignUp" method="post">
            <div class="input-container">
                <input type="text" id="Username" name="username" required="required" />
                @Html.ValidationMessageFor(model => model.username)
                <label for="Username">Username</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="text" id="email" name="email" required="required" />
                @Html.ValidationMessageFor(model => model.email)
                <label for="Email">Email</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="password" id="Password" name="pwd" required="required" />
                @Html.ValidationMessageFor(model => model.pwd)
                <label for="Password">Password</label>
                <div class="bar"></div>
            </div>

            <div class="button-container">
                <button><span>Next</span></button>
            </div>
        </form>
    </div>
</div>

